@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@import "components/variables";
@import "components/theme";
@import "components/typography";
@import "components/bootstrap_overrides";
@import "components/button";
@import "components/forms";
@import "components/hero";
@import "components/logos";
@import "components/section";

