a.button {
    text-decoration: none;
}

.button-text {
    position: relative;
    z-index: 5;
    font-family: $heading-font;
    font-weight: 700;
    font-size: 14px;
    color: $green;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    transition: all .25s cubic-bezier(.645,.045,.355,1);
    .icon {
        background-image: url('https://secrethub.io/img/enterprise/icons/arrow-right.svg');
        width: 7px;
        height: 11px;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;
        transform: translate(0, -1px);
        transition: all .25s cubic-bezier(.645,.045,.355,1);
    }
    &:hover {
        color: $link-blue;
        text-decoration: none;
        .icon {
            background-image: url('https://secrethub.io/img/enterprise/icons/arrow-right-blue.svg');
            transform: translate(3px, -1px);
        }
    }
}

.button {
    font-family: $heading-font;
    font-size: 16px;
	font-weight: 700;
    color: rgba(3,27,78,.7);
    text-transform: none;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    display: inline-block;
    padding: 0 32px;
    line-height: 48px;
    height: 48px;
    border-radius: 5px;

    transition: all .25s cubic-bezier(.645,.045,.355,1);
    cursor: pointer;

    @media (max-width: 520px) {
        width: 100%;
    }

    &:hover {
        transform: translateY(1px);
    }
    &--reverse {
        border: 1px solid $green;
        background-color: #fff;
        color: $green;
        &:hover {
            border-color: $link-blue;
        }
    }

	&.button-primary {
		background-color: $green;
		color: #fff;
        // box-shadow: 0 6px 10px 0px rgba($green, 0.25);

        &:hover {
			background-color: $intense-green;
		}
	}

	&.button-secondary {
		background-color: $highlight-blue;
        color: white;

        &:hover {
			background-color: $blue-accent;
		}
    }

    &.button-secondary-transparent {
        background: transparent;
		color: $link-blue;
        border: 1px solid $link-blue;
        box-shadow: 0 1px 2px rgba(3,27,78,.06);

        &:hover {
			color: $soft-white;
			background-color: $highlight-blue;
		}
    }

	&.button-transparent {
		background: transparent;
		color: $header-dark-blue;
        border: 1px solid rgba(3,27,78,.1);
		box-shadow: 0 1px 2px rgba(3,27,78,.06);

        &:hover {
			color: $soft-white;
			background-color: $highlight-blue;
		}
    }

    &.button-transparent-inverted{
        background: transparent;
        color: $soft-white;
        border: 1px solid $soft-white;

        &:hover{
            background-color: $soft-white;
            color: lighten($header-dark-blue, 18%);
        }
    }
}
