.form {
    position: relative;
    background: $deepblue;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 10px 30px 0px rgba(#000, 0.1);
    width: 100%;
    &__heading {
        color: #fff;
        font-size: 22px;
        margin-top: 0;
        font-family: $heading-font;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1em;
    }
    &__copy {
        color: #fff;
        font-size: $font-size-base;
        font-family: $body-font;
    }
    pre {
        padding: 5px;
        color: #fff;
        background-color: #2d3748;
        border-radius: 5px;
        border: 1px solid lighten(#1f263b, 15%);
        code {
            padding: 0;
            border-radius: 0;
            border: 0;
        }
    }
    code {
        font-size: 13px;
        padding: 5px;
        color: #fff;
        background-color: #2d3748;
        border-radius: 5px;
        border: 1px solid lighten(#1f263b, 15%);
    }
    a {
        font-family: $body-font;
        color: #fff;
        text-decoration: underline;
    }
    ol {
        font-size: 16px;
        color: #fff;
        a {
            font-size: inherit !important;
        }
        li {
            margin-bottom: 10px;
        }
    }
    .error {
        background-color: lighten($red, 30%);
        border: 1px solid $red;
        color: $heading-font-color;
        font-size: 14px;
        padding: 5px;
        width: 100%;
        border-radius: 6px;
        font-weight: 400;
    }
    .button {
        border: none;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }
    .hero & {
        margin-top: 2em;
        @media(min-width:992px) {
            position: absolute;
            top: -70px;
            right: 0;
            margin-top: 0;
        }
    }
}

.form__link-block {
    font-size: 16px !important;
    border: 1px solid #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all, ease-in-out, 0.3s;
    &:hover {
      background-color: #fff;
      color: #263239 !important;
    }
    &--inline {
      display: inline-block;
      width: 45%;
      text-align: center;
      margin-right: 5%;
      + .form__link-block--inline {
        margin-right: 0;
      }
    }
  }
  
.check-correct {
  background-image: url("https://secrethub.io/img/icons/tick.svg");
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(6px);
}

  .invalid-feedback {
    font-size: 12px !important;
    background-color: lighten(#dc3545, 40%);
    padding: 5px;
    border-radius: 5px;
    a {
      color: #dc3545 !important;
    }
  }

.form-header--submitted {
    display: none;
    .form--submitted & {
        display: block;
    }
}

.form-header {
    .form--submitted & {
        display: none;
    }
}

.form-field {
    margin-top: 20px;
    .form--submitted & {
        display: none;
    }
}

.form-field-duo {
    overflow: hidden;
    @media(min-width:991px) {
        .form-field {
            width: calc(50% - 10px);
            float: left;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.form-label, .form-check-label {
    color: #fff;
    font-size: $font-size-base;
    display: block;
    &--hidden {
        position: absolute !important;
	    clip: rect(1px, 1px, 1px, 1px);
	    padding: 0px;
	    border: 0 !important;
	    height: 1px !important;
	    width: 1px !important;
	    overflow: hidden;
    }
}

.form-item {
    font-size: $font-size-base;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 0.75em;
    color: $body-font-color;
    option {
        color: $body-font-color;
    }
    &.error {
        background-color: #fff;
        padding: 0.75em;
        font-size: $font-size-base;
    }
}

// Fresh sales form overrides

.fserv-container {
    padding: 0 !important;
    border-radius: 0 !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.fserv-container div:last-of-type {
    margin-bottom: 0 !important;
}

.fserv-form {
    overflow: hidden;
}

.fserv-form-name {
    font-size: 22px !important;
}

.fserv-form-description {
    font-size: $font-size-base !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.fserv-field {
    padding: 0 !important;
    &:first-child, &:nth-child(2) {
        width: calc(50% - 10px);
        float: left;
        margin-right: 20px;
    }
    &:nth-child(2) {
        margin-right: 0;
        margin-top: 5px !important;
    }
}

.fserv-label {
    padding-bottom: 0 !important;
    letter-spacing: 0 !important;
    display: none !important;
}

.fserv-input-text {
    border-radius: 6px !important;
    font-size: $font-size-base !important;
}

.fserv-field+div:not(.fserv-field) {
    border-top: 0 !important;
    margin-top: 20px !important;
    padding: 0 !important;
    text-align: center !important;
}

.fserv-container button[type=submit] {
    margin-right: 0 !important;
    width: 100% !important;
}

.fserv-container .fserv-textarea {
    border-radius: 6px !important;
    font-size: 15px !important;
    padding-top: 5px !important;
}

.powered-by {
    display: none !important;
}

.fserv-input-radio, .fserv-input-text, .fserv-select, .fserv-select-multiple, .fserv-textarea {
    font-size: 15px !important;
}

.fserv-input-text::placeholder, .fserv-select::placeholder, .fserv-textarea::placeholder {
    font-size: 15px !important;
    color: $body-font-color !important;
}

.fserv-field .select2-container--default .select2-search__field::placeholder, .fserv-field .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 15px !important;
    vertical-align: bottom !important;
}

.fserv-field .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 13px !important;
}

.fserv-field label.error {
    font-size: 13px !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
}

.fs-notifier {
    font-size: $font-size-base !important;
}
